*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.attribution {
    background-color: gray;
    font-size: 12.5px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem; 
}
.attribution a { 
    color: hsl(233, 47%, 7%); 
}

body{
    font-family: Arial;
    min-height: 100vh;
    background-color:hsl(233, 47%, 7%) ;
    display: flex;
    align-items: center;
}

.compound{
    max-width: 1020px;
    margin: 0 auto;
}

.wrapper{
    background-color:hsl(244, 38%, 16%) ;
    display: flex;
    grid-template-columns: 1fr  1fr;
    border-radius: 11px;
    overflow: hidden;
    margin: 2rem;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image{
    position: relative;
    width: 110%;
}

.text-part{
    padding: 20px;
    padding-top: 5rem;
    padding-bottom: rem;
    color: hsl(0, 0%, 100%);
}

.text-part span{
    color: hsl(277, 64%, 61%);
}

.text-part .discover{
    font-size: 15px;
    line-height: 1.9;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: hsla(0, 0%, 100%, 0.75);
}

.text-part .details{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    padding-top: 40px;
}

.number{
    color: hsl(277, 64%, 61%);
    font-size: 25px;
    font-weight: 700;
}

.status{
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 15px;
    padding-top: 0.3rem;
    padding-bottom: 1rem;
}

@media only screen and (max-width: 768px ) and
(min-width: 426px ){
    body{
        font-size: 12px;
        text-align: center;
    }

    .wrapper{
        height:80rem;
        width: 30rem;
        display: grid;
        grid-template-columns: 1fr;
        
    }

    .text-part{
        padding: 12%;
    }

    .first{
        font-size:22px ;
        margin-top: 2rem;
        margin-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .text-part.details{
        padding-left: 50rem;
    }

    .image .img{
        order: +1;
    }

    .text-part{
        order: +2;
        padding: 0;
        
    }

    .details{
        flex-direction: column;
        padding-top: 30px;
    }

    .two{
        padding-top:2rem;
        padding-bottom: 1.7rem;

    }





}


@media only screen and (max-width: 425px ) {
    body {
        text-align: center;
    }

    .wrapper{
        display: grid;
        grid-template-columns: 1fr;
    }

    .image .img{
        order: +1;
    }

    .text-part{
        order: +2;
        padding: 0;
        
    }

    .img{
        padding-bottom: 50rem;
    }

    .text-part h1{
        font-size:25px;
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .details{
        flex-direction: column;
        margin-top: 0px;
    }

    .details  .number{
       font-size: 50px;
    }

    .discover{
        margin-bottom:none;
        padding-left: 1rem;
        padding-right: 1rem;
    }

     .two{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .three{
        margin-bottom: 1.5srem;
    }

}









